@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;1,300&display=swap');


:root {
    --cor-primaria:#1B262C;
    --cor-secundaria:#BBE1FA;
    --cor-terciaria:#3282B8;
    --cor-hover: #0F4C75;
}
* {
    margin: 0;
    padding: 0;
}
body {
    /*height: 100hv; */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}
.cabecalho {
    padding: 2% 0 0 10%;
}
.cabecalho__menu {
    display: flex;
    gap: 80px;
}
.cabecalho__menu__link {
    font-family: 'Raleway', sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}
.apresentacao {
    padding: 8% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}
.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap:40px;
}
.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: 'Raleway', sans-serif;
}
.titulo-destaque {
    color: var(--cor-terciaria);
}
.apresentacao__conteudo__paragrafo {
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
}
.apresentacao__conteudo__paragrafo a{
    text-decoration: none;
    color: var(--cor-terciaria);
}
.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.apresentacao__links__subtitulo {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;   
}
.apresentacao__links__botao {
    /*background-color: 22D4FD;*/
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 60%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color:var(--cor-secundaria);
    font-family: 'Raleway', sans-serif;
}
.apresentacao__links__botao:hover {
    padding: 21px;
    background-color:var(--cor-hover);
}
.imagem {
    border-radius: 10px;
    width: 50%;
}
.rodape {
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 18px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
}

@media (max-width: 700px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }
    
    .apresentacao__conteudo {
        width: auto;
    }
}